
html { 
  background: url(../res/bg_white_grad.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
	
	padding-left: 200px;
	padding-right: 100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #474747;


}

#drag {
	width:120px;
	height:144px;
	padding:10px;
	border:1px 
	solid #aaaaaa;
}

a {
	color: #010101;
	font-weight: bold;
	text-decoration: none;
	padding-left: 10px;

}
a:hover {
	text-decoration: underline;
}

#navlinks:hover{

	background-color: #AEAEAE;
}

#float_right{
	float: right;
	margin: 0 80px 0 0;

}

.list_mod {
  padding: 10px;
  overflow: auto;
}
#foot{
   position:absolute;
   bottom:0;
   width:100%;
   height:5px;  

}
#collapse {
    border-collapse: collapse;
}
 
#color_cell{
	background-color: #D1D1D1;
}

.footer, .push {
height: 4em;
}

table, td, th {

}


}